/* Slider */

.slick-skip-link {
    position: absolute;
    left: -9999px;
    top: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: 10000;
    background: #000;
    color: #fff;
    padding: 8px 12px;
    text-decoration: none;
}

.slick-skip-link:focus,
.slick-skip-link:active {
    left: 10px;
    top: 10px;
    width: auto;
    height: auto;
    overflow: visible;
}

.slick-skip-link--visible {
    left: 10px;
    top: 10px;
    width: auto;
    height: auto;
    overflow: visible;
}

.slick-lazyload-error {
    opacity: 0.6;
}

.slick-lazyload-error-message {
    display: block;
    margin-top: 6px;
    font-size: 14px;
    color: #b00020;
}

.slick-lazyload-loading-message {
    display: block;
    margin-top: 6px;
    font-size: 14px;
    color: #555;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-slider .slick-track {
    -webkit-transform: translate3d(var(--slick-track-x, 0px), var(--slick-track-y, 0px), 0);
    -moz-transform: translate3d(var(--slick-track-x, 0px), var(--slick-track-y, 0px), 0);
    -ms-transform: translate3d(var(--slick-track-x, 0px), var(--slick-track-y, 0px), 0);
    -o-transform: translate3d(var(--slick-track-x, 0px), var(--slick-track-y, 0px), 0);
    transform: translate3d(var(--slick-track-x, 0px), var(--slick-track-y, 0px), 0);
}

.slick-track {
    position: relative;
    left: var(--slick-track-left, 0px);
    top: var(--slick-track-top, 0px);
    width: var(--slick-track-width, auto);
    --slick-track-x: 0px;
    --slick-track-y: 0px;
    --slick-track-left: 0px;
    --slick-track-top: 0px;
    --slick-track-width: auto;
    --slick-slide-width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    width: var(--slick-slide-width, auto);
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Variable Width */
.slick-slider-variable-width .slick-slide {
    width: auto;
}