:root {
  --alternative-color--light: #c2ccd0;
  --alternative-color--dark: #2e3f45;
  --focus-outline-color: orange;
  --bg-dark: #1a1a2e;
  --bg-section: #2a2a3e;
  --text-light: #e0e0e0;
  --border-color: #3a3a4e;
  --primary-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  --button-bg: #667eea;
  --button-hover: #5567d8;
}

* {
  box-sizing: border-box;
}

body,
html {
  background: var(--bg-dark);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  width: 100%;
}
/* Enhanced focus styles for better accessibility */
*:focus-visible {
  outline: 3px solid var(--primary-gradient);
  outline-offset: 2px;
}

button:focus-visible,
a:focus-visible {
  outline: 3px dashed #fff;
  outline-offset: 2px;
}
  body {
    padding-bottom: 50px !important;
  }

main:focus,
section:focus {
  outline: none;
}


/*******************
  Content blocks
********************/
.content {
  margin: auto;
  padding: 20px;
  width: 600px;
}

  .content:after,
  .buttons::after {
    clear: both;
    content: '';
    display: table;
  }

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
  text-align: center;
}

  p a:focus {
    outline: 3px dashed black;
    outline-offset: 5px;
  }


/***************
  Buttons
****************/
.button {
  background: var(--alternative-color--dark);
  color: #fff;
  display: block;
  font-size: 16px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 48%;
  border: 1px solid var(--alternative-color--light);
}

  .button:hover,
  .button:focus {
    background-color: var(--alternative-color--light);
    color: var(--alternative-color--dark);
    border: 1px solid var(--alternative-color--dark);
    text-decoration: underline;
  }

  .button:focus {
    outline: 4px dashed black;
    outline-offset: 2px;
  }

.buttons {
  padding: 0 20px 20px;
  margin-bottom: 10px;
}

  .buttons .button {
    float: left;
    margin: 5px;
  }

.filter .button {
  margin-bottom: 40px;
}


/**********************
  Header (desktop)
**********************/
.header {
  padding: 20px 0;
}

.subheading {
  font-style: italic;
  font-weight: 400;
  text-align: center;
}


/****************************
  Fixed mobile header nav
*****************************/
.fixed-header {
  background: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  display: none;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

  .fixed-header .header-content {
    margin: auto;
    width: 700px;
  }

  .fixed-header h1.title {
    float: left;
    font-size: 24px;
    margin: 0;
  }

  .fixed-header ul.nav {
    float: right;
    margin: 0;
    padding: 5px;
  }

    .fixed-header ul.nav li {
      margin: 0 0 0 10px;
    }


/****************************
  Desktop and mobile navs
****************************/
ul.nav {
  margin-bottom: 0;
  padding-left: 0;
  text-align: center;
}

  ul.nav li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
  }

    ul.nav li a {
      font-size: 14px;
      text-decoration: none;
      padding: 10px 15px;
      color: var(--alternative-color--dark);
    }

    .header ul.nav li a,
    .fixed-header ul.nav li a {
      color: #fff;
    }

      ul.nav li a:hover,
      ul.nav li a:focus {
        text-decoration: underline;
      }

      ul.nav li a:hover {
        background-color: var(--alternative-color--light);
        color: black;
      }

      ul.nav li a:focus {
        background-color: black;
        color: white;
      }

    .header ul.nav li a:hover,
    .header ul.nav li a:focus,
    .fixed-header ul.nav li a:hover,
    .fixed-header ul.nav li a:focus {
      background-color: rgba(0, 0, 0, 0.35);
      color: #fff;
      text-decoration: underline;
    }

    .header ul.nav li a:focus,
    .fixed-header ul.nav li a:focus {
      outline: 2px solid #fff;
      outline-offset: 2px;
    }

@media (max-width: 420px) {
  ul.nav li a {
    display: block;
    font-size: 14px;
  }
}


/*******************
  Github icon link
********************/
.github-link {
  position: absolute;
  right: 70px;
  top: 40px;
  font-size: 80px;
  color: var(--alternative-color--dark);
}

.header .github-link,
.fixed-header .github-link {
  color: #fff;
}

  @media screen and (max-width: 1280px) {
    .github-link {
      position: static;
      display: block;
      text-align: center;
    }
  }


/*********************************
  Light banner at top pointing
  to repo README
**********************************/
.readme-banner {
  background-color: var(--alternative-color--light);
  color: var(--alternative-color--dark);
  margin-top: 10px;
  margin-bottom: 0;
  padding: 15px;
  text-align: center;
}

  .readme-banner a {
    color: var(--alternative-color--dark);
    font-weight: bold;
    transition: outline .08s linear;
  }


/********************
  Sponsor section
********************/
.sponsor-banner {
  background-color: var(--alternative-color--light);
  color: var(--alternative-color--dark);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
}

  .sponsor-banner a {
    display: block;
  }

    .sponsor-banner a:focus {
      outline: 4px dashed black !important;
    }

  .sponsor-banner img {
    width: 80%;
    max-height: 100px;
  }


/************************************
  Sections with color background
*************************************/
section {
  width: 100%;
  position: relative;
  color: var(--alternative-color--dark);
}

  section a {
    font-weight: bold;
    transition: outline .1s linear;
  }

.alt-background {
  background: var(--alternative-color--dark);
  color: var(--alternative-color--light);
}

  .alt-background h2,
  .alt-background h3,
  .alt-background h4 {
    color: white;
  }

  .alt-background a {
    color: white;
  }

    .alt-background a:focus {
      outline-color: orange;
    }

  .alt-background .slick-slide {
    background: #fff;
    margin: 10px;
    position: relative;
    height: 100px;
    color: var(--alternative-color--dark);

    display: flex;
    justify-content: center;
    align-items: center;
  }
    .alt-background .slick-slide p {
      margin: 0;
      font-size: 36px;
    }

  .alt-background hr {
    background: rgb(255,255,255,.3);
  }


/**************
  Headings
**************/
h1 {
  color: var(--alternative-color--dark);
  font-family: Pacifico;
  font-size: 96px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 auto 10px;
  text-align: center;
}

h2, h3 {
  font-family: Pacifico;
  font-size: 36px;
  color: var(--alternative-color--dark);
  margin: 20px auto;
  text-align: center;
}

h4, .h4 {
  font-family: Pacifico;
  font-size: 28px;
  margin: 20px auto;
  text-align: center;
}

hr {
  background: var(--alternative-color--dark);
  border: 0;
  height: 1px;
  margin: 40px -20px;
}


/*****************
  Code snippets
******************/
pre {
  overflow-x: scroll;
  margin: 0 10px !important;
  border-radius: 0 !important;
  border: 2px solid black;
}

  code {
    color: #000;
    overflow-x: scroll;
  }

p code,
li code,
th code,
td code {
  position: relative;
  padding: 2px 7px 4px 7px;
  border-radius: 3px;
  color: var(--alternative-color--dark);
  background-color: var(--alternative-color--light);
}

  .alt-background p code,
  .alt-background li code,
  .alt-background th code,
  .alt-background td code {
    color: white;
    background-color: rgba(0,0,0,0.5);
  }


/****************************
  Accessibility tip block
*****************************/
.accessibility-tip {
  background-color: #204CCF;
  display: flex;
  margin: 20px 10px 0 10px;
  outline: 2px solid black;
}

  .accessibility-tip .icon {
    flex: 0 0 16%;
    padding-top: 10px;

    text-align: center;
    font-size: 48px;

    color: white;
  }

  .accessibility-tip .content {
    text-align: left;
    padding: 15px;
    padding-left: 0;
    padding-right: 25px;
  }

    .accessibility-tip .heading {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      text-align: left;
      margin: 0;
      margin-bottom: 10px;
    }

    .accessibility-tip p {
      text-align: left;
      margin: 0;
      opacity: .9;
    }

      .accessibility-tip p + p {
        margin-top: 15px;
      }

      .accessibility-tip a:focus {
        outline-color: orange;
      }


/*******************
  Features at top
********************/
.features-list {
  display: block;
  list-style-type: none;
  margin-top: 30px;
  padding: 0;
  text-align: center;
}

  .features-list li {
    margin: 30px 0;
  }


/**************
  Demos
***************/
/** All sliders */
.slick-slide {
  height: auto;
}

.slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
  color: white;
}

  .slick-slider p {
    font-weight: bold;
  }

/** Variable width */
.variable-width .slick-slide p {
  background: #fff;
  color: var(--alternative-color--dark);
  margin: 0;
}

.adaptive-height .slick-slide,
.lazy .slick-slide {
  height: auto;
  min-height: 100px;
}

/** Center Mode */
.center .slick-center {
  color: royalblue;
  opacity: 1;
  transform: scale(1.2);
  transition: all .5s linear;
}

/** Adaptive Height */
.adaptive-height p + p {
  font-size: 18px !important;
  font-weight: normal;
  line-height: 24px;
  margin-bottom: 20px !important;
}

/** Image sliders (Lazy Loading and Fade) */
.fade .slick-slide {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}

.lazy .slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-slider .slick-slide img {
  border: 5px solid #fff;
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 380px;
  object-fit: contain;
}

    .image-slider .slick-slide img.slick-loading {
      border: 0;
    }


/************
  Tables
************/
table {
  font-size: 14px;
  line-height: 18px;
  margin: 40px auto 0;
  display: block;
}

  tr {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #fff;
    margin: 0px 0px 20px;
    padding: 0px 0px 20px;
    background: transparent;
    float: left;
  }

    tr:last-of-type {
      border: 0;
      padding-bottom: 0;
    }

    th {
      font-weight: bold;
      font-size: 20px;
      color: white;
      line-height: 22px;
    }

    td {
      border: 0;
      padding: 10px 0px;
    }

  th,
  td {
    display: block;
    width: 100% !important;
    text-align: left;
  }


/*************************
  Responsive behaviors
**************************/
@media (max-width: 768px) {
  .fixed-header {
    display: none !important;
  }

  .header ul.nav li {
    display: block;
    margin: 20px;
  }

  .alt-background h3 {
    font-size: 24px;
  }

  .button {
    margin: 0 auto 20px;
    width: auto;
  }

  .button.first {
    margin-top: 40px;
  }

  .buttons {
    padding: 0 0 20px;
  }

  .buttons .button {
    float: left;
    font-size: 12px;
    margin: 1%;
    width: 48%;
  }

  .center {
    margin-left: -40px;
    margin-right: -40px;
  }

  .center .slick-center h3 {
    color: #e67e22;
    opacity: 1;
    transform: scale(1);
  }

  .center h3 {
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease;
  }

  .content {
    margin: auto;
    padding: 20px 40px;
    width: auto;
  }

  .fixed-header .header-content {
    width: auto;
  }

  table {
    font-size: 14px;
    line-height: 18px;
    margin: 40px auto 20px;
    display: block;
    float: left;
  }

    tr {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #fff;
      margin: 0px 0px 20px;
      padding: 0px 0px 20px;
      background: transparent;
      float: left;
    }

    thead {
      display: none;
    }

    td {
      border: 0;
      padding: 10px 0px;
    }

    td,
    tbody {
      display: block;
      width: 100% !important;
    }

    table.settings td:nth-of-type(1),
    table.methods td:nth-of-type(1) {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
    }

    table.settings td:nth-of-type(2):before {
      content: 'Type: ';
      font-weight: 700;
    }

    table.settings td:nth-of-type(3):before {
      content: 'Default: ';
      font-weight: 700;
    }

    table.methods td:nth-of-type(2):before {
      content: 'Arguments: ';
      font-weight: 700;
    }
}

/*******************************************************************
  Improved .sr-only class by ffoodd
  https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
********************************************************************/
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}


/********************************
  "Skip to main content" link
********************************/
.skip-link {
  position: absolute;
  left: 20px;
  top: -100px;
  z-index: 100;
  transition: top .2s ease-out;

  background-color: var(--alternative-color--dark);
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 20px;
  text-decoration: none;
}

  .skip-link:focus {
    top: 20px;
    outline: 5px dashed var(--focus-outline-color);
    outline-offset: 2px;
  }

  .skip-link:hover {
    text-decoration: underline;
  }


/************************************
  White sections (light background)
*************************************/
section.white {
  background: #fff !important;
  color: #1a1a2e !important;
  border-color: #ccc !important;
}

section.white h2,
section.white h3,
section.white h4,
section.white h5,
section.white h6 {
  color: #1a1a2e !important;
}

section.white p,
section.white li {
  color: #333 !important;
}

section.white code {
  background: #f5f5f5 !important;
  color: #d63384 !important;
  border: 1px solid #ddd !important;
}

section.white pre {
  background: #1a1a2e !important;
  color: #e0e0e0 !important;
  border: none !important;
  border-left: 4px solid #667eea !important;
}

section.white pre code {
  background: #1a1a2e !important;
  color: #e0e0e0 !important;
  border: none !important;
}

section.white a {
  color: #0066cc !important;
}

section.white a:hover {
  color: #0052a3 !important;
}

section.white hr {
  border-top: 1px solid #ccc !important;
  background: #ccc !important;
}

section.white .button,
section.white button {
  background: #2e3f45 !important;
  color: #fff !important;
  border: 2px solid #2e3f45 !important;
}

section.white .button:hover,
section.white .button:focus,
section.white button:hover,
section.white button:focus {
  background: #667eea !important;
  color: #fff !important;
  border: 2px solid #667eea !important;
  text-decoration: underline !important;
}

.slick-slide {
  height: auto;
}


/****************************
  Dark Theme Overrides
****************************/
body {
  background: var(--bg-dark) !important;
  color: var(--text-light) !important;
}

.header {
  background: var(--primary-gradient);
  padding: 2rem 1.5rem;
  border-radius: 8px;
  margin: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.header .title,
.header .subheading {
  color: #fff !important;
}

main {
  background: var(--bg-section);
  margin: 1rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  border: 1px solid var(--border-color);
}

section {
  background: var(--bg-dark);
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  border: 1px solid var(--border-color);
}

h1, h2, h3, h4, h5, h6 {
  color: #fff !important;
}

/* Page buttons */
.button, button {
  background: var(--button-bg) !important;
  color: white !important;
  border: none !important;
  transition: background 0.3s ease;
}

.button:hover, button:hover,
.button:focus, button:focus {
  background: var(--button-hover) !important;
  color: white !important;
}

/* Override styling for slider controls */
.slick-prev,
.slick-next,
.slick-dots button {
  background: transparent !important;
  color: white !important;
  border: none !important;
}

.slider > div > div > p {
  background: var(--primary-gradient) !important;
  color: white !important;
  padding: 3rem !important;
  border-radius: 4px !important;
  font-size: 3rem !important;
  font-weight: bold !important;
}

.slider > div > div:nth-child(2n) > p {
  background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%) !important;
}

.slider > div > div:nth-child(3n) > p {
  background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%) !important;
}

.slider > div > div:nth-child(4n) > p {
  background: linear-gradient(135deg, #43e97b 0%, #38f9d7 100%) !important;
}

.slider > div > div:nth-child(5n) > p {
  background: linear-gradient(135deg, #fa709a 0%, #fee140 100%) !important;
}

.fixed-header {
  background: var(--bg-section) !important;
  border-bottom: 1px solid var(--border-color);
}

.fixed-header .title {
  color: #fff !important;
}

code {
  background: var(--bg-dark);
  padding: 0.2rem 0.4rem;
  border-radius: 3px;
  color: #a5d6ff;
}

pre {
  background: var(--bg-dark) !important;
  border-left: 4px solid var(--button-bg);
  padding: 1.25rem;
  border-radius: 4px;
}